@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  nav {
    @apply font-slab;
  }
  h1 {
    @apply text-6xl font-light text-neutral-300;
  }
  h2 {
    @apply text-4xl font-light text-neutral-300;
  }
  h3 {
    @apply text-lg font-light text-neutral-300;
  }
}
@layer components {
  .f-container {
    @apply max-w-[1110px] mx-auto px-4 md:px-0;
  }
  .navactive {
    @apply text-teal-400  font-semibold;
  }
  .skillicon {
    fill: #ffffff;
  }
  .p1 {
    @apply text-2xl font-light text-neutral-300;
  }
  .p2 {
    @apply text-lg font-light text-neutral-300;
  }
  .p3 {
    @apply text-base font-light text-neutral-300;
  }
}
